.container_dashboard {
  min-height: 100vh;
  display: flex;
}
.dashboard__container {
  display: flex;
  flex-direction: row;
  width: 93%;
  height: 100%;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 10%;
}
.notes__container {
  width: 100%;
  height: auto;
  background: white;
  border-top-left-radius: 90px;
  display: flex;
  flex-direction: column;
}

.dashboard__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dashboard__title--text {
  color: var(--DeepPink);
  margin: 50px 0;
  font-size: 70px;
}

.container__notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 35px;
  min-width: 50%;
}

.container__notes img {
  width: 120%;
  grid-column: 2/3;
}

.btn__add {
  width: 100px;
  position: fixed;
  top: 0;
}

.btn__log {
  position: fixed;
  bottom: 0;
}

.size {
  width: 50px;
  align-self: center;
}

@media (min-width: 1180px) {
  .dashboard__title--text {
    font-size: 50px;
  }
  .btn__logout img {
    width: 60px;
  }
  .btn__addnote img {
    width: 60px;
  }
}
