.container__notes {
  max-width: 1715px;
}

.notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 35px;
}
.note {
  width: 60%;
}

/* .note {
  width: 250px;
  height: 250px;
  background-color: #d6d9ed;
  border-radius: 30px;
  border-color: #bbc2e9;
} */
