.container__notes {
  max-width: 1715px;
}

.notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  row-gap: 35px;
}
.note {
  width: 50%;
}

.note img {
  width: 50%;
}

/* .note {
  width: 250px;
  height: 250px;
  background-color: #d6d9ed;
  border-radius: 30px;
  border-color: #bbc2e9;
} */

.container__note {
  position: relative;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
  border-radius: 10px;
}

.container__note::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 80px;
  border-bottom-left-radius: 8px;
}

.container__note::after {
  content: '';
  position: absolute;
  top: -11px;
  right: -11px;
  width: 0px;
  height: 0px;

  border-top: 100px solid white;
  border-left: 100px solid transparent;
}

.note__title {
  max-height: 75px;
  overflow-y: scroll;
  font-size: 30px;
  margin: 0px 0;
  max-width: 260px;
}

.note__title::-webkit-scrollbar {
  display: none;
}

.note__content {
  max-height: 110px;
  max-width: 300px;
  overflow-wrap: break-word;
  overflow-y: scroll;
  width: 280px;
  margin: 18px 0;
  line-height: 1.5;
  color: var(--Gray);
  box-shadow: inset 0px -10px 10px -12px rgba(0, 0, 0, 0.25);
}

.note__content::-webkit-scrollbar {
  display: none;
}

.note__info {
  text-align: left;
  z-index: 1;
}

.note__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
  margin-top: 8px;
}

.note__title--Green {
  color: #22503f;
}
.note__title--Blue {
  color: #58869f;
}
.note__title--deepPink {
  color: #883c63;
}
.note__title--Lilac {
  color: #5d4063;
}
.note__title--Orange {
  color: #a97646;
}
.note__title--Peach {
  color: #927373;
}
.note__title--Pink {
  color: #aa5a74;
}
.note__title--Purple {
  color: #766d8c;
}
.note__title--Red {
  color: #a31f2e;
}
.note__title--Yellow {
  color: #a78a46;
}

.note__color--borderGreen {
  background-color: #60c19e;
  border: 3px solid #3b7862;
}
.note__color--borderGreen::before {
  background-color: #3b7862;
}

.note__color--borderBlue {
  background-color: #9adcff;
  border: 3px solid #85bedc;
  padding: 23px;
}
.note__color--borderBlue::before {
  background-color: #85bedc;
}

.note__color--borderdeepPink {
  background-color: #d880a6;
  border: 3px solid #c75c93;
  padding: 23px;
}
.note__color--borderdeepPink::before {
  background-color: #c75c93;
}

.note__color--borderLilac {
  background-color: #a68dad;
  border: 3px solid #68566c;
  padding: 23px;
}
.note__color--borderLilac:before {
  background-color: #68566c;
}

.note__color--borderOrange {
  background-color: #ffb470;
  border: 3px solid #dc9a5d;
  padding: 23px;
}
.note__color--borderOrange::before {
  background-color: #dc9a5d;
}

.note__color--borderPeach {
  background-color: #ffc7c7;
  border: 3px solid #ebb8b8;
  padding: 23px;
}
.note__color--borderPeach::before {
  background-color: #ebb8b8;
}

.note__color--borderPink {
  background-color: #ff8aae;
  border: 3px solid #d67291;
  padding: 23px;
}
.note__color--borderPink::before {
  background-color: #d67291;
}

.note__color--borderPurple {
  background-color: #baabda;
  border: 3px solid #a193be;
  padding: 23px;
}
.note__color--borderPurple::before {
  background-color: #a193be;
}

.note__color--borderRed {
  background-color: #f67280;
  border: 3px solid #d16470;
  padding: 23px;
}
.note__color--borderRed::before {
  background-color: #d16470;
}

.note__color--borderYellow {
  background-color: #ffd36e;
  border: 3px solid #d9b35c;
  padding: 23px;
}
.note__color--borderYellow::before {
  background-color: #d9b35c;
}

@media (min-width: 1024px) {
  .container__note {
    width: 320px;
  }

  .note__content {
    font-size: 16px;
    margin: 20px 0;
  }

  .note__title {
    font-size: 30px;
    margin: 5px 0;
  }
  .note__buttons {
    width: 270px;
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
  }
}
